<!-- Footer -->
<footer class="py-5">
    <div class="container text-light py-3">
<div class="row">
    <div class="col-md-4 col-sm-12 ">
        <div class="log-wrap pb-2 mb-1">
            <img src="/assets/logo.png" alt="Satik Electric">
        </div>
        <div class="content pb-2 mb-2 ">
            <p>Satik Electric pvt ltd will provide a complete
                electric
                solution under one roof</p>

                <button class="btn btn-primary rounded-0">About us</button>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-sx-12 ps-md-4">
        <div class="f_link">
            <h6>Important links</h6>
        </div>
        <ul>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/poducts">Products</a></li>
            <li><a href="/quality">Quality</a></li>
            <li><a href="/career">Career</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-sx-12">
        <div class="f_link ">
            <h6>Get in touch</h6>
        </div>
        <ul class="get-in-touch">
            <li> <p>
                <i class="fa fa-map-marker-alt "></i>Satik Electric .
                F-9, Shopping Centre-I,
               <br> Meerut Cantt
                Uttar Pradesh - 250001 (India)</p></li>
                <li><a href="tel:9758635932"><i class="fa fa-phone"></i>9758635932</a></li>
                <li><a href="mailto:enquiry@satikElectric.com"><i class="far fa-envelope"></i>Enquiry@satikElectric.com</a></li>
                <li><a href=""> <i class="fab fa-facebook"></i>Facebook</a></li>
                <li><a href=""> <i class="fab fa-instagram"></i>Instagram</a></li>
                <li><a href=""> <i class="fab fa-youtube"></i>Youtube</a></li>
        </ul>
    </div>
</div>

    </div>
</footer>
<div class="footer-bottom bg-black border-top border-dark">
    <div class="container text-center py-3   text-white-50">
        © 2022 Satik Electric. All rights reserved.
    </div>
</div>