<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head'); %>

    <!-- Home Specific Tags -->
    <meta name="description" content="Electric Shop-About us " />
    <link rel="canonical" href="https://starter-node-express-bootstrap.herokuapp.com/" />

    <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
    <meta property="og:url" content="https://starter-node-express-bootstrap.herokuapp.com/" />
    <meta property="og:title" content="Alectrify - Bootstrap Node.js/Express Template" />
    <meta property="og:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap." />
    <meta property="og:type" content="website" />
    <!-- Insert preview image tag: https://ogp.me/ -->

    <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@alectrify_co" />
    <meta name="twitter:creator" content="@alectrify_co" />
    <meta name="twitter:title" content="Alectrify - Bootstrap Node.js/Express Template" />
    <meta name="twitter:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap." />
    <!-- Insert preview image tag -->

    <title>Satik Electric-About-us</title>
</head>

<body>
  <%- include('layouts/navbar'); %>
    <main id="about-us">
      <!-- Hero section -->
      <section class="inner-banner">
        <div class="container">
          <div class="title text-start">
            <h1 class="text-white wow fadeInUp display-5 fw-bold">About Us</h1>
            <h5 class="text-white"></h5>
          </div>
        </div>
      </section>
      <!-- Main content -->
      <section class="py-5 my-5 px-3">
        <div class="container">
          <div class="col-md-10 mx-auto">
            <h2 class="fw-bold border-left mb-4">Introduction</h2>
            <p>Satik Solution Private Limited is an ISO 9001:2015 certified company is India’s leading company
              electric equipment manufacturer with a formidable presence across Nine key verticals: Electrical
              energy Meter Solutions, electrical Switches, Electrical Switchgears, LED Lighting and Electrical
              Wires & Cables, Fan, GAS Detector, water heater Self Adhesive specialties tape. Our backward
              (backend) supplier integrated facilities have the capabilities of product design and development,
              component designing, tool manufacturing and commercial production. Our products are certified
              to conform to Indian and International standards such as ISI, CE and KEMA, ROHS and we are
              proud to cater India’s emerging electrical requirements.
            </p>
            <p>satik solution pvt ltd is the manufacturer and distributor of Electrical Equipment in India. With
              our “One Stop Shop” approach, we offer the widest range of Electrical equipment in the country.
              Working closely with Authorized Distributer and Private shop compliments our profound
              understanding of the electrical equipment and servicing business This helps us to remain and
              become the preferred supplier of our customers.</p>
            <p>Our partnerships with Market Leaders in electrical industries compliments our strengths in R&D
              and manufacturing. With our widespread network across India, we have the reach and coverage
              to support our customers, at every stage of the product’s life cycle.
            </p>

            <h4 class="fw-bold border-left mt-5 mb-3">Products We Offered</h4>
            <p>Satik Solution pvt ltd will provide a complete electric solution through under one roof ie” SATIK
              ELECTRIC that is specifically cater to our channel partner and project consultant These services
              include:</p>
            <ul>
              <li class="mb-2">
                <span class="fw-bold">Electrical Product Provider :- </span> Users of the Electrical energy Meter
                Solutions, electrical Switches,
                Electrical Switchgears, LED Lighting and Electrical Wires & Cables, Fan, GAS Detector, water
                heater Self Adhesive specialties tape.
              </li>
              <li>
                <span class="fw-bold">House building / commercial building wiring design :- </span>- Electrical Wiring
                Diagrams Save
                Time/ save money/ Prevent Injury.
              </li>
            </ul>

            <h4 class="fw-bold border-left mt-5 mb-3">Consulting for electric solution </h4>
            <p>Let our electrical consulting experts save you energy. You'd be
              surprised at the amount of electricity that is wasted by homes, shops and businesses each year, often
              unwittingly. Our electrical consulting services have been designed to spotlight problem areas and find
              solutions that cut your energy consumption and save you money</p>
            <ul>
              <li class="mb-2">
                <span class="fw-bold">Annual maintenance contract(AMC) :- </span> AMC is an abbreviation for the annual
                maintenance
                contract. It offers you security on all electrical equipment such as switchgear, fan, water heater,
                gas detector, etc. Under this agreement, a manufacturer or any other service provider presents you
                services for repair and maintenance of these devices. The duration of this contract can vary from
                1 year to 3 year as per mutual consent of both the parties. You can also extend the term if you
                want to continue with the service. Usually, it includes service support, but if you opt for a
                comprehensive maintenance contract for electrical equipment Support, then it will cover
                replacement services too at affordable price quotes
              </li>
              <li>
                <span class="fw-bold">Renovation- Modification of Wiring :- </span> Buyers will provides outstanding
                residential &
                commercial electrical services by a team of qualified and
                experienced <span class="text-primary">electricians, electrical home renovations, knob and tube wiring
                  replacement, residential electrical services & repairs and commercial work </span>.
              </li>
            </ul>
            <h4 class="fw-bold border-left mt-5 mb-3">Benefits to our Consumers
            </h4>
            <p>Affinity electric products consumers will be attracted to the shop because of several key value
              propositions:
            </p>
            <ul>
              <li class="mb-2">
                <span class="fw-bold">Unique shopping / viewing experience :- </span> The shop will provide a unique
                actual experience for
                the customer while through our site. We will use the latest technology to provide our viewers
                with a personalized 3D animated and live experience.
              </li>
              <li>
                <span class="fw-bold">Product & Service in single Roof :- </span> To satisfy our customers’ implicit and
                explicit needs by
                providing products and services to exacting standards and techno legal directives, We commit
                ourselves as a team to manufacture and deliver the right products and services at the right time,
                every time. Our commitment is facilitated through the systematized management of quality and
                continual improvement of products and processes involving our employees and suppliers.
              </li>
              <li>
                <span class="fw-bold">Broad Product range :- </span> Satik solution pvt ltd takes pride in being a
                significant part of the Make
                in India initiative and we excel in customizing products according to industry and customerspecific
                needs. Our product range includes Electrical energy Meter Solutions, electrical Switches,
                Electrical Switchgears, LED Lighting and Electrical Wires & Cables, Fan, GAS Detector, water
                heater Self Adhesive specialties tape.
              </li>
              <li>
                <span class="fw-bold">Energy Saving Product :- </span> - In a developing country like India, electricity
                is still a major problem
                in most of the parts. Considering the problem of voltage and huge power consumption, satik
                electric has brought in a range of energy saving products especially for the consumers of India.
                Save on your electricity bills with energy saver products .
              </li>
              <li>
                <span class="fw-bold">Most Economical Values with Guarantee :- </span> - SATIK electric The brand
                reflects our commitment
                to provide the best quality product and services at the most economical values.
              </li>
              <li>
                <span class="fw-bold">Easy to use/ easy to stall :- </span> - The product will be built specifically for
                the electrical goods will be
                extremely easy to use and install.

              <li>
                <span class="fw-bold">Availability:- </span> - Product availability necessarily having items available
                100% of the time when the
                customer needs it
              </li>
              <li>
                <span class="fw-bold">Community :- </span> - satik solution pvt ltd will build a strong community of
                people who have similar
                interests in our electric solution. This direct communication between our retailer, technician and
                consumers will allow for the exchange of information, fostering customer loyalty and repeat
                product use.
              </li>
              <li>
                <span class="fw-bold">Culture specific :- </span> - The site will cater to the specific needs of various
                customers around the world
                reflecting specific tastes and needs.

              </li>
            </ul>

            <h4 class="fw-bold border-left mt-5 mb-3">Benefits to our Partners, Sponsors and Advertisers</h4>
            <p>Affinity electrical equipment sponsors will be attracted to the site because of several key value
              propositions </p>
              <ul>
              <li>
                <span class="fw-bold">Wide customer base :- </span> - Products and services will have already <span class="text-primary">established a market share.</span >
                Therefore there will be no need for market testing. 
              </li> <li>
                <span class="fw-bold">Risk of business failure is reduced(Established Brand) :- </span> Compared to establishing a new
                business‚ your distributer business – from day one – will possess an established brand recognized
                by consumers
              </li>
              <li>
                <span class="fw-bold">Understanding of the market :- </span> The company<span class="text-primary"> gives you support </span >- usually as a complete package
                including training, help setting up the business, a manual telling you how to run the business and
                ongoing advice. 
              </li>
              <li>
                <span class="fw-bold">Sales and marketing :- </span> You can use a <span class="text-primary">recognised brand name and trade mark.</span > You benefit
                from any advertising or promotion by the principal company.
              </li>
              <li>
                <span class="fw-bold">Wide Distribution channels :- </span> You usually have<span class="text-primary">exclusive rights </span>  in your territory. The company
                won't sell any other distributer in the same territory
              </li>
              <li>
                <span class="fw-bold">No prior experience  :- </span> <span class="text-primary">No prior experience</span> is needed as the training received from the franchisor should ensure the
                shop establishes the skills required to operate the shop owner.
              </li>
              <li>
                <span class="fw-bold">Financing the business  :- </span> <span class="text-primary">Financing the business</span>  may be easier. Banks are sometimes more likely to lend money to buy a
                distributer with a good reputation.
                You can benefit from communicating and sharing ideas with, and receiving support from, other
distributer in the network. 

              </li>
              <li>
                <span class="fw-bold">Relationships with suppliers  :- </span> <span class="text-primary">Relationships with suppliers</span>  have already been established
              </li>
              <li>
                <span class="fw-bold">Training and Support   :- </span> Your franchise business will benefit from the distributor continued
                training and support. This includes initial training and support that should be ongoing and extend
                to your business operations and the continued development of the products or services that you
                will be offering.
              </li>
              <li>
                <span class="fw-bold">Distributer business benefits  :- </span> <span class="text-primary">Distributer business benefits </span>  include lower risk, lower startup costs, existing brand recognition,
                and parent company marketing support. 
                
              </li>
            </ul>
          </div>
        </div>



        </div>


      </section>
      <%- include('layouts/footer'); %>
    </main>
    <!-- Bundled JS: Bootstrap, jQuery, Lodash -->
    <script src="/scripts/bundle.js"></script>
</body>

</html>