<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head'); %>

        <!-- Home Specific Tags -->
        <meta name="description" content="Electric Shop " />
        <link rel="canonical" href="https://starter-node-express-bootstrap.herokuapp.com/" />

        <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
        <meta property="og:url" content="https://starter-node-express-bootstrap.herokuapp.com/" />
        <meta property="og:title" content="Alectrify - Bootstrap Node.js/Express Template" />
        <meta property="og:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap." />
        <meta property="og:type" content="website" />
        <!-- Insert preview image tag: https://ogp.me/ -->

        <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@alectrify_co" />
        <meta name="twitter:creator" content="@alectrify_co" />
        <meta name="twitter:title" content="Alectrify - Bootstrap Node.js/Express Template" />
        <meta name="twitter:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap." />
        <!-- Insert preview image tag -->

        <title>Satik Electric-Home</title>
</head>

<body>
    <%- include('layouts/navbar'); %>

        <main>
            <!-- Hero Section -->
            <section id="hero" class="home-slider">
                <div class="swiper-wrapper">
                    <div class="hero-inner swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="display-5 fw-bold text-white">Satik Electric</h2>
                                    <p class="fw-bold text-white">
                                        Satik Electric pvt ltd will provide a complete electric
                                        solution under one roof
                                    </p>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="https://imperialitforweb.com/stewartindustrial/wp-content/uploads/2021/05/banner01.jpg"
                                alt="" />
                        </div>
                    </div>
                    <div class="hero-inner swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="display-5 fw-bold text-white">Satik Electric</h2>
                                    <p class="fw-bold text-white">
                                        Satik Electric pvt ltd will provide a complete electric
                                        solution under one roof
                                    </p>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="https://imperialitforweb.com/stewartindustrial/wp-content/uploads/2021/05/banner02.jpg"
                                alt="" />
                        </div>
                    </div>
                    <div class="hero-inner swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="display-5 fw-bold text-white">Satik Electric</h2>
                                    <p class="fw-bold text-white">
                                        Satik Electric pvt ltd will provide a complete electric
                                        solution under one roof
                                    </p>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="https://imperialitforweb.com/stewartindustrial/wp-content/uploads/2021/05/banner01.jpg"
                                alt="" />
                        </div>
                    </div>
                    <div class="hero-inner swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="display-5 fw-bold text-white">Satik Electric</h2>
                                    <p class="fw-bold text-white">
                                        Satik Electric pvt ltd will provide a complete electric
                                        solution under one roof
                                    </p>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="https://imperialitforweb.com/stewartindustrial/wp-content/uploads/2021/05/banner02.jpg"
                                alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </section>
            <!-- Intro section -->
            <section class="intro-section container my-5 py-5 ">
                <div class="row py-md-3">
                    <div class="col-md-12 text-center wow fadeIn ">
                        <h2 class="mb-3 border-left ">Why Satik Electric ?</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                            at ut nihil vero, itaque animi ullam soluta, consequatur
                            voluptatem reiciendis minima optio, nulla assumenda quo autem.
                            Molestiae itaque nesciunt maxime modi beatae corrupti laudantium
                            praesentium a suscipit aut. Incidunt consectetur ab ad nesciunt
                            quasi sapiente quod, in est fugit ullam ut nobis, eligendi
                            voluptas! Ipsam quia amet asperiores. Dolores eligendi optio
                            voluptates, adipisci enim, incidunt a temporibus libero
                            consequatur fugiat animi magni! Fugit deserunt consequuntur
                            sapiente dolore ea quasi magnam ad et cupiditate explicabo qui hic
                            quas eligendi harum sit excepturi esse, rerum minima, quia libero
                            doloribus nobis ullam. Nesciunt maiores consequatur
                        </p>
                    </div>
                </div>
            </section>
            <!-- Products and services offerd -->
            <section class="pso-wrap my-5  pb-5">
                <div class="container">
                    <div class="row my-5 py-md-4">
                        <div class="col-md-6 text-center wow fadeInLeft mb-4 mb-md-0">
                            <div class="img-wrap">
                                <img src="assets/imgPlacholder450x450.png" alt="Electric product provider   " srcset="">
                            </div>
                        </div>
                        <div class="col-md-6 text-grey wow fadeInRight">
                            <h3 class="mb-4 border-left">Electric Products Provider</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae deserunt consequatur
                                aliquam impedit itaque rem eum maxime voluptatum facilis enim nulla repellendus ipsum
                                maiores, deleniti consectetur repellat assumenda quos fuga similique aperiam dignissimos
                                omnis. Sunt possimus aut sint voluptate nisi? Itaque maiores quod eius placeat?
                                Reprehenderit recusandae consequuntur, architecto pariatur consequatur aut commodi nobis
                                quaerat velit nemo eum dolore ex reiciendis et expedita quos assumenda sunt incidunt
                                veritatis dolorum dignissimos illum doloremque! Ducimus delectus rem facere, aperiam
                                nemo consectetur nobis ex aliquid quo, iste, possimus aspernatur? Necessitatibus sequi
                                ullam quis libero, voluptatibus doloribus, repellendus distinctio ex nostrum et
                                reprehenderit commodi?</p>
                        </div>
                    </div>
                    <div class="row my-5 py-md-4">
                        <div class="col-md-6 wow fadeInLeft order-md-1 order-2">
                            <h3 class="mb-4 border-left">Wiring Design </h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae deserunt consequatur
                                aliquam impedit itaque rem eum maxime voluptatum facilis enim nulla repellendus ipsum
                                maiores, deleniti consectetur repellat assumenda quos fuga similique aperiam dignissimos
                                omnis. Sunt possimus aut sint voluptate nisi? Itaque maiores quod eius placeat?
                                Reprehenderit recusandae consequuntur, architecto pariatur consequatur aut commodi nobis
                                quaerat velit nemo eum dolore ex reiciendis et expedita quos assumenda sunt incidunt
                                veritatis dolorum dignissimos illum doloremque! Ducimus delectus rem facere, aperiam
                                nemo consectetur nobis ex aliquid quo, iste, possimus aspernatur? Necessitatibus sequi
                                ullam quis libero, voluptatibus doloribus, repellendus distinctio ex nostrum et
                                reprehenderit commodi?</p>
                        </div>
                        <div class="col-md-6 wow fadeInRight order-md-2 order-1 mb-4 mb-md-0">
                            <div class="img-wrap text-center">
                                <img src="assets/imgPlacholder450x450.png" alt="Electric product provider   " srcset="">
                            </div>

                        </div>
                    </div>
                    <div class="row my-5 py-md-4">
                        <div class="col-md-6 wow fadeInLeft">
                            <div class="img-wrap mb-4 mb-md-0  text-center">
                                <img src="assets/imgPlacholder450x450.png" alt="Electric product provider   " srcset="">
                            </div>
                        </div>
                        <div class="col-md-6 text-grey wow fadeInRight">
                            <h3 class="mb-4 border-left">Consulting For Electric Solution</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae deserunt consequatur
                                aliquam impedit itaque rem eum maxime voluptatum facilis enim nulla repellendus ipsum
                                maiores, deleniti consectetur repellat assumenda quos fuga similique aperiam dignissimos
                                omnis. Sunt possimus aut sint voluptate nisi? Itaque maiores quod eius placeat?
                                Reprehenderit recusandae consequuntur, architecto pariatur consequatur aut commodi nobis
                                quaerat velit nemo eum dolore ex reiciendis et expedita quos assumenda sunt incidunt
                                veritatis dolorum dignissimos illum doloremque! Ducimus delectus rem facere, aperiam
                                nemo consectetur nobis ex aliquid quo, iste, possimus aspernatur? Necessitatibus sequi
                                ullam quis libero, voluptatibus doloribus, repellendus distinctio ex nostrum et
                                reprehenderit commodi?</p>
                        </div>
                    </div>
                    <div class="row mt-5 mb-3 py-4">
                        <div class="col-md-6 wow fadeInLeft  order-md-1 order-2">
                            <h3 class="mb-4 border-left">Annual Maintance Contract(AMC)</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae deserunt consequatur
                                aliquam impedit itaque rem eum maxime voluptatum facilis enim nulla repellendus ipsum
                                maiores, deleniti consectetur repellat assumenda quos fuga similique aperiam dignissimos
                                omnis. Sunt possimus aut sint voluptate nisi? Itaque maiores quod eius placeat?
                                Reprehenderit recusandae consequuntur, architecto pariatur consequatur aut commodi nobis
                                quaerat velit nemo eum dolore ex reiciendis et expedita quos assumenda sunt incidunt
                                veritatis dolorum dignissimos illum doloremque! Ducimus delectus rem facere, aperiam
                                nemo consectetur nobis ex aliquid quo, iste, possimus aspernatur? Necessitatibus sequi
                                ullam quis libero, voluptatibus doloribus, repellendus distinctio ex nostrum et
                                reprehenderit commodi?</p>
                        </div>
                        <div class="col-md-6 wow fadeInRight order-1 mb-4 mb-md-0">
                            <div class="img-wrap text-center">
                                <img src="assets/imgPlacholder450x450.png" alt="Electric product provider   " srcset="">
                            </div>

                        </div>
                    </div>
                    <div class=" text-center wow fadeIn">
                        <a class="btn btn-outline-primary rounded-0  py-1 w-auto  " href="/services"> All Services</a>
                    </div>
                </div>

            </section>

            <!-- Testimonials section -->
            <section class="testimonials-wrap my-5 py-5">
                <div class="container ">
                    <div class="row mb-3">
                        <div class="col-md-12 text-grey text-center">
                            <h3 class="mb-4 border-left">Testimonials</h3>
                        </div>
                    </div>
                </div>

                <div class="testimonials wow fadeIn">
                    <div class="swiper-wrapper col-md-6 mx-auto  ">
                        <div class="text-center swiper-slide ">
                            <div class="author-img  mb-3">
                                <img src="/assets/profile-photo.png" alt="author">
                            </div>
                            <div class="content col-md-6 mx-auto px-3">
                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
                                    laudantium culpa
                                    accusantium tempore necessitatibus, mollitia, dignissimos facilis recusandae
                                    consequuntur enim aliquid eaque voluptatibus alias in repellat aspernatur placeat
                                    non
                                    sed doloremque. Magnam impedit delectus veniam. Asperiores voluptatem eos quidem
                                    laboriosam.

                                </p>
                                <p class="fst-italic"><strong>-- Author Name</strong></p>
                            </div>
                        </div>
                        <div class=" text-center swiper-slide ">
                            <div class="author-img  mb-3">
                                <img src="/assets/profile-photo.png" alt="author">
                            </div>
                            <div class="content col-md-6 mx-auto px-3 ">
                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
                                    laudantium culpa
                                    accusantium tempore necessitatibus, mollitia, dignissimos facilis recusandae
                                    consequuntur enim aliquid eaque voluptatibus alias in repellat aspernatur placeat
                                    non
                                    sed doloremque. Magnam impedit delectus veniam. Asperiores voluptatem eos quidem
                                    laboriosam.

                                </p>
                                <p class="fst-italic"><strong>-- Author Name 2</strong></p>
                            </div>
                        </div>
                        <div class=" text-center swiper-slide ">
                            <div class="author-img  mb-3">
                                <img src="/assets/profile-photo.png" alt="author">
                            </div>
                            <div class="content col-md-6 mx-auto px-3 ">
                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
                                    laudantium culpa
                                    accusantium tempore necessitatibus, mollitia, dignissimos facilis recusandae
                                    consequuntur enim aliquid eaque voluptatibus alias in repellat aspernatur placeat
                                    non
                                    sed doloremque. Magnam impedit delectus veniam. Asperiores voluptatem eos quidem
                                    laboriosam.

                                </p>
                                <p class="fst-italic"><strong>-- Author Name 3</strong></p>
                            </div>
                        </div>
                    </div>

                </div>


                </div>

            </section>
            <!-- Our Clients -->
            <section class="our-clients-wrap my-5 py-4 wow fadeIn">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-12 text-grey text-center">
                            <h3 class="mb-4 border-left">Our Happy Clients</h3>
                        </div>
                    </div>
                    <div class="our-clients mt-4">
                        <div class="swiper-wrapper ">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                            <img class="clients-logo swiper-slide " src="/assets/logo.png" alt="" srcset="">
                        </div>
                        <div class="oc_swiper-pagination "></div>
                    </div>

                </div>

            </section>
            <!-- Contruction banner
            <div class="maintance-wrap py-2">
                <div class="container text-center py-5">
                    <h3 class="text-primary my-4">
                        We are working on it. Sorry for inconvenience
                    </h3>
                    <img src="/assets/maintance.svg" alt="We are working on it" />
                </div>
            </div> -->
            <%- include('layouts/footer'); %>
        </main>

        <!-- Bundled JS: Bootstrap, jQuery, Lodash -->
        <script src="/scripts/bundle.js"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <!--  -->
      
        <!-- Custom JavaScript -->
        <script>
            var swiper = new Swiper(".home-slider", {
                autoplay: {
                    delay: 3000,
                },
                loop: true,
                speed: 1000,
                effect: "creative",
                grabCursor: true,
                creativeEffect: {
                    prev: {
                        shadow: true,
                        translate: ["-20%", 0, -1],
                    },
                    next: {
                        translate: ["100%", 0, 0],
                    },
                },
                pagination: {
                    el: ".swiper-pagination",
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });

        </script>
        <script>
            var swiper = new Swiper(".testimonials", {
                autoplay: {
                    delay: 3000,
                },
                loop: true,
                speed: 1000,
                grabCursor: true,


            });
            var swiper = new Swiper(".our-clients", {
                autoplay: {
                    delay: 3000,
                },
                loop: true,
                speed: 1000,
                slidesPerView: 1,
                spaceBetween: 10,
                grabCursor: true,
                scrollbar: {
                    el: '.our-clients .swiper-scrollbar',
                    draggable: true,
                },
                pagination: {
                    el: ".oc_swiper-pagination",
                    dynamicBullets: true,
                },

                breakpoints: {
                    // when window width is >= 320px
                    320: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    },
                    // when window width is >= 480px
                    480: {
                        slidesPerView: 4,
                        spaceBetween: 20
                    },
                    // when window width is >= 640px
                    991: {
                        slidesPerView: 6,
                        spaceBetween: 35
                    }
                }



            });
        </script>
</body>

</html>