<!doctype html>
<html lang="en">

<head>
    <%- include('layouts/head'); %>

        <!-- Home Specific Tags -->
        <meta name="description" content="Electric Shop ">
        <link rel="canonical" href="https://starter-node-express-bootstrap.herokuapp.com/" />

        <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
        <meta property="og:url" content="https://starter-node-express-bootstrap.herokuapp.com/">
        <meta property="og:title" content="Alectrify - Bootstrap Node.js/Express Template">
        <meta property="og:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap.">
        <meta property="og:type" content="website">
        <!-- Insert preview image tag: https://ogp.me/ -->

        <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@alectrify_co">
        <meta name="twitter:creator" content="@alectrify_co">
        <meta name="twitter:title" content="Alectrify - Bootstrap Node.js/Express Template">
        <meta name="twitter:description" content="Express, MongoDB, and Node.js template stylized with Bootstrap.">
        <!-- Insert preview image tag -->

        <title>Satik Electric-Home</title>
</head>

<body>
    <%- include('layouts/navbar'); %>

        <main>
            <!-- Hero Section -->
            <section id="hero" class="home-slider">
                <div class="swiper-wrapper">
                    <div class="hero-inner swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="display-5 fw-bold text-white">Satik Electric</h2>
                                    <p class="fw-bold text-white">Satik Electric pvt ltd will provide a complete
                                        electric
                                        solution under one roof</p>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="https://imperialitforweb.com/stewartindustrial/wp-content/uploads/2021/05/banner01.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="hero-inner swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="display-5 fw-bold text-white">Satik Electric</h2>
                                    <p class="fw-bold text-white">Satik Electric pvt ltd will provide a complete
                                        electric
                                        solution under one roof</p>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="https://imperialitforweb.com/stewartindustrial/wp-content/uploads/2021/05/banner02.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="hero-inner swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="display-5 fw-bold text-white">Satik Electric</h2>
                                    <p class="fw-bold text-white">Satik Electric pvt ltd will provide a complete
                                        electric
                                        solution under one roof</p>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="https://imperialitforweb.com/stewartindustrial/wp-content/uploads/2021/05/banner01.jpg"
                                alt="">
                        </div>
                    </div>
                    <div class="hero-inner swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="display-5 fw-bold text-white">Satik Electric</h2>
                                    <p class="fw-bold text-white">Satik Electric pvt ltd will provide a complete
                                        electric
                                        solution under one roof</p>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="https://imperialitforweb.com/stewartindustrial/wp-content/uploads/2021/05/banner02.jpg"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </section>
            <!-- Contruction banner -->
            <div class="maintance-wrap py-2">
                <div class="container text-center py-5">
                    <h3 class="text-primary my-4"> We are working on it. Sorry for inconvenience</h3>
                    <img src="/assets/maintance.svg" alt="We are working on it">
                   
                </div>
            </div>
            <%- include('layouts/footer'); %>

        </main>



        <!-- Bundled JS: Bootstrap, jQuery, Lodash -->
        <script src="/scripts/bundle.js"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

        <!-- Custom JavaScript -->
        <script>
            var swiper = new Swiper(".home-slider", {
                autoplay: {
                    delay: 3000,
                  },
                loop:true,
                speed: 1000,
                effect: "creative",
                grabCursor: true,
                creativeEffect: {
                    prev: {
                      shadow: true,
                      translate: ["-20%", 0, -1],
                    },
                    next: {
                      translate: ["100%", 0, 0],
                    },
                  },
                pagination: {
                    el: ".swiper-pagination",
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
</body>

</html>