<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head'); %>

         <!-- Home Specific Tags -->
        <meta name="description" content="Product-Detail || Satik Electic" />
        <link rel="canonical" href="https://satikelectric.co.in/" />

        <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
        <meta property="og:url" content="https://satikelectric.co.in/" />
        <meta property="og:title"
            content="Product-Detail - Satik Electric Pvt Ltd is the manufacturer and distributor of Electrical Equipment in India. With our “One Stop Shop” approach" />
        <meta property="og:description"
            content="Satik Electric Pvt Ltd is the manufacturer and distributor of Electrical Equipment in India. With our “One Stop Shop” approach" />
        <meta property="og:type" content="website" />
        <!-- Insert preview image tag: https://ogp.me/ -->

        <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@Satik_Electric" />
        <meta name="twitter:creator" content="@Satik_Electric" />
        <meta name="twitter:title"
            content="Product-Detail - Satik Electric Pvt Ltd is the manufacturer and distributor of Electrical Equipment in India. With our “One Stop Shop” approach" />
        <meta name="twitter:description"
            content="Satik Electric Pvt Ltd is the manufacturer and distributor of Electrical Equipment in India. With our “One Stop Shop” approach" />
        <!-- Insert preview image tag -->

        <title>Product-Detail || Satik Electric</title>
</head>

<body>
  <%- include('layouts/navbar'); %>
    <main id="product-listing-page">
      <!-- Hero section -->

      <!-- <section class="inner-banner">
        <div class="container">
          <div class="title text-start">
            <h1 class="text-white wow fadeInUp display-5 fw-bold">Lighting</h1>
            <h5 class="text-white"></h5>
          </div>
        </div>
      </section> -->
      <!-- Main content col-md-4 col-6 p-sm-3 p-2  mb-3 pl-item -->
      <section class="py-0 py-md-3    my-5 px-3 product-detail">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-6 mb-3">
              <div class="pd-gallery-wrap px-2 px-md-4">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                class="swiper mySwiper2 pd-gallery">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                </div>

              </div>
              <div thumbsSlider="" class="swiper mySwiper pt-2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/imgPlacholder450x450.png" />
                  </div>
                </div>
              </div>
              </div>
             


            </div>
            <div class="col-md-5 col-sm-6">
              <div class="product-short">
                <h1>Havells 1mm wire</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet totam, recusandae, modi et consectetur
                  libero eius nulla reiciendis eligendi ipsam repellendus voluptatem, sequi reprehenderit nam officiis
                  ex quaerat doloremque suscipit exercitationem ipsa deleniti eum. Alias molestiae voluptatem illo
                  ratione itaque!</p>
                  <h4 class="my-4 ">Price : <strong class="text-primary">3000 &#x20B9;</strong></h4>
                  <h6>Application </h6>
                  <p>Heavy Duty XLPE Power cables for Power  Generation / Distribution </p>
                  
                  <h6>Type </h6>
                  <p>6.6 kV to 19/33 kV (E) as per  IS:7098 - II </p>
                  
                  <h6>Size </h6>
                  <p>Single Core : 25 sq. mm - 1000 sq. mm<br>Multicore : 25 sq. mm - 400 sq. mm </p>
              

              </div>
            </div>
          </div>
          <div class="row mt-5 py-5 mb-3">
            <div class="col-12">
              <h4 class="border-left mb-3 mb-md-4 ">Full description</h4>
              <div class="small-desc">   
          
                <h6>Application </h6>
                <p>Heavy Duty XLPE Power cables for Power  Generation / Distribution </p>
                
                <h6>Type </h6>
                <p>6.6 kV to 19/33 kV (E) as per  IS:7098 - II </p>
                
                <h6>Size </h6>
                <p>Single Core : 25 sq. mm - 1000 sq. mm<br>Multicore : 25 sq. mm - 400 sq. mm </p>
                
                <h6> </h6>
                <p> </p>
                
            <!--  <p style="Font-size:12px;color:#272626;">Imported by: Havells India Ltd</p>
              <p style="Font-size:12px;margin-top:-9px;color:#272626;" >Country of Origin: Not Select</p>
               -->
               
                 <p style="Font-size:12px;color:#272626;/* display:none; */">Imported by: Havells India Ltd</p>
              <p style="Font-size:12px;margin-top:-9px;color:#272626;/* display:none; */">Country of Origin: Not Select</p>
               
                
              </div>

                <h6> </h6>
                <p> </p>



                <p style="Font-size:12px;color:#272626;/* display:none; */">Imported by: Havells India Ltd</p>
                <p style="Font-size:12px;margin-top:-9px;color:#272626;/* display:none; */">Country of Origin: Not
                  Select</p>



              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('layouts/footer'); %>
    </main>
    <!-- Bundled JS: Bootstrap, jQuery, Lodash -->
    <script src="/scripts/bundle.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 6,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper(".mySwiper2", {
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: swiper,
        },
      });
    </script>
</body>

</html>