<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head'); %>

    <!-- Home Specific Tags -->
    <meta name="description" content="Products || Satik Electic" />
    <link rel="canonical" href="https://satikelectric.co.in/" />

    <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
    <meta property="og:url" content="https://satikelectric.co.in/" />
    <meta property="og:title"
        content="Products - Satik Electric Pvt Ltd is the manufacturer and distributor of Electrical Equipment in India. With our “One Stop Shop” approach" />
    <meta property="og:description"
        content="Satik Electric Pvt Ltd is the manufacturer and distributor of Electrical Equipment in India. With our “One Stop Shop” approach" />
    <meta property="og:type" content="website" />
    <!-- Insert preview image tag: https://ogp.me/ -->

    <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Satik_Electric" />
    <meta name="twitter:creator" content="@Satik_Electric" />
    <meta name="twitter:title"
        content="Products - Satik Electric Pvt Ltd is the manufacturer and distributor of Electrical Equipment in India. With our “One Stop Shop” approach" />
    <meta name="twitter:description"
        content="Satik Electric Pvt Ltd is the manufacturer and distributor of Electrical Equipment in India. With our “One Stop Shop” approach" />
    <!-- Insert preview image tag -->

    <title>Products || Satik Electric</title>
</head>

<body>
  <%- include('layouts/navbar'); %>
    <main id="product-listing-page">
      <!-- Hero section -->
      <section class="inner-banner">
        <div class="container">
          <div class="title text-start">
            <h1 class="text-white wow fadeInUp display-5 fw-bold">Lighting</h1>
            <h5 class="text-white"></h5>
          </div>
        </div>
      </section>
      <!-- Main content col-md-4 col-6 p-sm-3 p-2  mb-3 pl-item -->
      <section class="py-5 my-5 px-3">
        <div class="container product-listing">
          <div class="pl-wrap-inner">
            <div class="row">
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
              <div class="col-md-4 col-6  mb-3  pl-item">
                <div class="pl-inner p-sm-3 p-2 ">
                  <a href="/product-detail/lighting" class="p-image">
                    <img src="/assets/imgPlacholder450x450.png" alt="Product Name" />
                  </a>
                  <div class="content py-3 mb-3">
                    <a href="/product-detail/lighting">
                      <h5 class="text-primary">Product Name</h5>
                    </a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                      pariatur laboriosam veritatis aliquam numquam placeat illo
                      reiciendis cumque voluptas fugit nostrum ab sunt molestias
                      minus porro tempore.
                    </p>
                  </div>
                </div>

              </div>
            


            </div>
          </div>
        </div>
      </section>
      <%- include('layouts/footer'); %>
    </main>
    <!-- Bundled JS: Bootstrap, jQuery, Lodash -->
    <script src="/scripts/bundle.js"></script>
</body>

</html>